<div class="container">



  <h1>Crear Articulos</h1>
  <br />

  <form ng-model="articulo">


    <div class="form-group ">
      <label class="control-label requiredField" for="date">
  Nombre
  <span class="asteriskField">
   *
  </span>
 </label>
      <input class="form-control" id="nombre" ng-model="articulo.nombre" name="nombre" placeholder="nombre" type="text" ng-required="true" />
    </div>

    <div class="form-group ">
      <label class="control-label requiredField" for="idTienda">
  Tipo de Articulo
  <span class="asteriskField">
   *
  </span>
 </label>
      <!-- <input class="form-control" id="idTienda" ng-model="venta.idTienda" name="idTienda" type="number" ng-required="true" /> -->
      <select id="idTipo" name="idTipo" ng-model="articulo.id_tipo">
        <option ng-repeat="tipoarticulo in tipoarticulos" value="{{tipoarticulo.id}}">{{tipoarticulo.nombre}}</option>
    </select>
    </div>

    <div class="form-group">
      <label class="control-label requiredField" for="date">Precio<span class="asteriskField">*</span></label>
      <input class="form-control" id="Precio" ng-model="articulo.precio" name="precio" placeholder="precio" type="text" ng-required="true" />
    </div>



    <div class="form-group">
      <button class="btn btn-primary " name="submit" ng-click="crearArticulos(articulo)" type="submit">Submit <i ng-if="submited" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i></button>
    </div>




  </form>
</div>
