<!-- Page Content -->
<div class="container">
  <br />

  <div class="row">

    <div class="col-md-4">
      <h1> Crear Venta </h1>
      <hr />
      <form name="formVenta" ng-model="venta">
        <div class="form-group ">
          <label class="control-label requiredField" for="name">
         Identificador Cliente
         <span class="asteriskField">
          *
         </span>
        </label>

          <!-- <input class="form-control" id="idCliente" ng-model="venta.idCliente" name="idCliente" type="number" ng-required="true" /> -->
          <select id="idCliente" name="idCliente" ng-model="venta.idCliente">
            <option ng-repeat="cliente in clientes" value="{{cliente.id}}">{{cliente.nombre}} {{cliente.apellidos}}</option>
          </select>

        </div>

        <div class="form-group ">
          <label class="control-label requiredField" for="name">
         Identificador Empleado
         <span class="asteriskField">
          *
         </span>
        </label>
          <!-- <input class="form-control" id="idEmpleado" ng-model="venta.idEmpleado" name="idEmpleado" type="number" ng-required="true" /> -->
          <select id="idEmpleado" name="idEmpleado" ng-model="venta.idEmpleado">
            <option ng-repeat="empleado in empleados" value="{{empleado.id}}">{{empleado.nombre}}</option>
          </select>

        </div>

        <div class="form-group ">
          <label class="control-label requiredField" for="idTienda">
         Identificador Tienda
         <span class="asteriskField">
          *
         </span>
        </label>
          <!-- <input class="form-control" id="idTienda" ng-model="venta.idTienda" name="idTienda" type="number" ng-required="true" /> -->
          <select id="idTienda" name="idTienda" ng-model="venta.idTienda">
            <option ng-repeat="tienda in tiendas" value="{{tienda.id}}">{{tienda.nombre}}</option>
          </select>

        </div>

        <div class="form-group">
          <label class="control-label requiredField" for="idTienda">
         Productos disponibles
         <span class="asteriskField">
          *
         </span>
        </label>
          <select style="width: 100%;" id="myselect" name="mydata" multiple="multiple" ng-model="articulos" size="10">
            <option ng-repeat="model in collectionGeneralArticulos" value="{{model.id}}&{{model.precio}}">Producto: {{model.nombre}}, Precio: ¢{{model.precio}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Fecha:</label>
          <input type="date" name="myDate" ng-model="venta.fecha">
        </div>

        <div class="form-group">
          <div>
            <button class="btn btn-primary " name="submit" ng-click="formVenta.$valid && agregarVenta(venta, articulos)" type="submit">
          Submit
         </button>
          </div>
        </div>



      </form>

    </div>

    <div class="col-md-8" ng-if="loading_ventas" style="height: 614px;overflow: scroll;text-align:center;background: #eee;">
      <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
    </div>


    <div class="col-md-8" style="height: 614px;overflow: scroll;" ng-init="cargarVentas()">

      <div style="" class="row" ng-repeat="venta in ventas">
        <div class="col-md-12">
          <div class="jumbotron" style="padding: 11px 11px;border: solid;">

            <p style="margin: 0;">Venta #{{$index}}</p>
            <p style="margin: 0;">Cliente: {{venta.cliente}}</p>
            <p style="margin: 0;">Tienda: {{venta.tienda}}</p>
            <p style="margin: 0;">Empleado: {{venta.empleado}}</p>
            <p style="margin: 0;">Fecha:{{ venta.fecha}}</p>
            <p style="margin: 0;">Monto: ¢{{venta.monto}}</p>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>
