<br />
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Prendas de Vestir</h1>
      <div class="list-group">
          <a href="/" class="list-group-item"> Volver a inicio </a>
        <a href="#" class="list-group-item">Dama</a>
        <a href="#" class="list-group-item">Caballero</a>
        <a href="#" class="list-group-item">Niños y Niñas</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" ng-repeat="model in collectionVestimenta">
          <div class="card h-100">
            <a href="{{model.id}}"><img class="card-img-top" src="http://lorempixel.com/700/400/cats/{{model.id}}/" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{model.nombre}}</a>
              </h4>
              <h5>${{model.precio}}</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted" ng-if="model.id_tipo == 1">Vestimenta</small>
              <small class="text-muted"><button>Comprar</button></small>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
