<!-- consulta 7 -->
<div class="container">
  <h3>Tres mejores clientes para un período específico</h3>
  <label>Desde:</label>
  <input type="date" name="myDate" ng-model="params.desde">
  <br />
  <label>Hasta:</label>
  <input type="date" name="myDate" ng-model="params.hasta">
  <br />
  <button class="btn btn-primary" ng-click="callMejoresClientesPeriodo(params)">Consultar</button>

  <hr />

  <div class="jumbotron">
    <h4 ng-if="mejores" ng-repeat="mejor in mejores | reverse"><span ng-if="$index === 0">Primer puesto: </span> <span ng-if="$index === 1">Segundo puesto: </span> <span ng-if="$index === 2">Tercer puesto: </span>{{mejor.nombre}} {{mejor.apellidos}}, Monto: ¢{{mejor.dinero}}</h4>

  </div>
</div>
