<!-- consulta 3 -->
<div class="container">
  <h3>Monto promedio de compras por cliente para un período de fechas específico</h3>
  <label>Desde:</label>
  <input type="date" name="myDate" ng-model="params.desde">
  <br />
  <label>Hasta:</label>
  <input type="date" name="myDate" ng-model="params.hasta">


  <div class="form-group ">
    <label class="control-label requiredField" for="name">
   Identificador Cliente
   <span class="asteriskField">
    *
   </span>
  </label>

    <!-- <input class="form-control" id="idCliente" ng-model="venta.idCliente" name="idCliente" type="number" ng-required="true" /> -->
    <select id="idCliente" name="idCliente" ng-model="params.cliente">
      <option ng-repeat="cliente in clientes" value="{{cliente.id}}">{{cliente.nombre}} {{cliente.apellidos}}</option>
    </select>

  </div>


  <button class="btn btn-primary" ng-click="callPromedioComprasPorClientePeriodo(params)">Consultar</button>



  <hr />

  <div class="jumbotron">
    <h4 ng-if="promedio_compras_cliente">Promedio de compras del Cliente: ¢{{promedio_compras_cliente}}</h4>

  </div>
</div>
